html {
    max-width: 60vw;
    padding: 3em 1em;
    margin: auto;
    font-size: 1em;
    min-height: 100% !important;
    position: relative !important;
}

body {
    font-family: inter-regular, inter-regular, Helvetica, Arial, sans-serif;
    margin: 0;
    color: #4f5858;
    overflow-x: hidden;
    line-height: 1.3em;
}
h1 {
    line-height:1.1em;
    margin-top: 0;
}

p,
ul,
ol {
    margin-bottom: 2em;
    color: #4f5858;
    font-family: sans-serif;
}

a,
p a {
    color: #0F8299;
    font-weight: bold;
    text-underline-offset: .4em;
}

a:hover,
p a:hover {
    text-decoration-thickness: .15rem;
}

footer {
    color: #000;
    font-size: 14px;
    padding: 5px 5px;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: inter-regular, inter-regular, Helvetica, Arial, sans-serif;
    line-height: 1.7em;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    position: relative;
    min-height: 1px;
}

.footer-svg {
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin-bottom: 3px; 

}
.provided-by {
    color:#000;
    font-size:16px;
    text-align:center;
}
.provided-by h2 {
    display:inline-block;
}

.privacy {
    float: right;
}

.logo-provider {
    color: #fff;
    font-family: Courier, serif;
    line-height: 1.7em;
    font-size: 12px;
   
}
.resource-container {
    height: 300px;
    height:100%;
}
.resource-line {
    height: 55px;
    margin-bottom: 1em;
}
.resource-logo {
    display: inline-block;
    vertical-align: middle;
}
.resource-logo {
    width:auto;
    height:55px;
    margin-right:1em;
}

.debug {
    display:none;
    font-family: Courier, serif;
    line-height: 1.7em;
    font-size: 16px;
}
.row {
    display:flex;
    padding: .7em 0;
}
.column {
    flex:2;
}
.extra .row .column:nth-of-type(1){
    flex:1;
    font-weight:bold;
}
.extra .row .column:nth-of-type(2){
    flex:3;
}

.provided-by.row {
    justify-content:center;
    align-items:center;
    column-gap:20px;
    padding-top:60px;
}
.provided-by.row .column:nth-of-type(1){
    text-align:right;
}
.provided-by.row .column:nth-of-type(2){
    text-align:left;
    padding-bottom:22px;
}

.tandc.row {
    column-gap:20px;
}
.tandc.row .column:nth-of-type(1){
    text-align:left;
}
.tandc.row .column:nth-of-type(2){
    text-align:right;
    padding-bottom:22px;
}

.project-title,
.funder {
    font-weight: bold;
}

hr {
    margin: 1em 0;
    border: .005rem solid rgba(79,88,88,.8)
}
hr.secondary {
    border-color: rgba(79,88,88,.1);  
}

a i.fas.fa-link {
    fill: #0F8299;
}    

.description p {
    margin-top: 0;
}

.description p:last-of-type {
    margin-bottom: 0;
}

h2,
.project-title {
    color: rgba(79,88,88,.5);
}

@media screen and (max-width: 1024px) {
    html {
        max-width: 80vw;
    }
}
@media screen and (max-width: 800px) {
    .extra .row {
        display:block;
    }
    .extra .row .column {
        line-height:initial;
    }
    .extra .row .column:nth-of-type(1){        
        padding-bottom:2px;
    }
    .extra .row .column:nth-of-type(2){        
        padding-bottom:12px;
    }
}
@media screen and (max-width: 600px) {
    .provided-by h2 {
        font-size:0.8rem;   
        line-height:0.8rem; 
    }
    .provided-by img {
        width:160px;
    }
}