<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chooser</title>
  <meta name="description" content="Choose from multiple DOI resolution options">
  <meta name="author" content="crossref">

  <meta property="og:title" content="Chooser 404">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chooser.crossref.org/">
  <meta property="og:description" content="404 DOI not found">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="static/style.css?v=1.0">


</head>

<body>

  <div class="page-explanation">
    <h1>404</h1>
    <div>Not found</div>

    <div>{{ reason }}</div>
  </div>

  <br />

  <hr>

  <footer>
    <div class="tandc row">        
      <div class="column">
        &nbsp;
      </div>
      <div class="column"> 
        <a href="https://www.crossref.org/operations-and-sustainability/privacy/">Crossref Privacy Policy</a>
      </div>
    </div>
    <div class="provided-by row">
        <img src="https://assets.crossref.org/logo/crossref-logo-landscape-200.svg" width="200" height="68" alt="Crossref logo">
    </div>
  </footer>

</body>

</html>