<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ summary.title }}</title>
  <meta name="author" content="Crossref">
  <meta property="og:title" content="Crossref">

  {% if summary['type'] != 'GRANT' %}
  <meta property="og:description" content="Choose from multiple link options via Crossref">
  <meta name="description" content="Choose from multiple link options via Crossref">
  {% else %}
  <meta property="og:description" content="Grant/award and project metadata via Crossref">
  <meta name="description" content="Grant/award and project metadata via Crossref">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://record.crossref.org/">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/static/favicon.ico">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/static/style.css?v=1.0">


</head>

<body>

  <div class="page-header">
    {% if summary['type'] == 'GRANT' %}
      <div class="project-title">Project Title</div>
      {% endif %}
    <h1>{{ summary.title|safe }}</h1>
  </div>

  <hr/>
  {% if summary["type"] == "GRANT" %}

            <h2>About the record</h2>
        {% endif %}
      {% include 'item.html' %}

      {% if summary['type'] == 'GRANT' %}
      {% include 'grant_info.html' %}
    {% endif %}

  <div class="page-explanation">

    <hr>

    <div class="resource-container">
      {% if summary['coaccess']|length > 0 %}
      The publisher of this work supports co-access. The work is available from the following locations:
      {% endif %}

      {% if summary['multiple-resolution']|length > 0 %}
      The publisher of this work supports <a href="https://www.crossref.org/get-started/multiple-resolution/">multiple
        resolution</a>. The work is available from the following locations:
      {% endif %}

        {% if summary['type'] != 'GRANT' %}
            <div class="resource-line">
                <img class="resource-logo" src="{{ summary['clearbit-logo']}}"/>
                <a href="{{ summary['primary-resource'] }}" alt="">{{ summary['tld'] }}</a>
            </div>
        {% else %}
            <!--
            <div class="extra about-record">
                <div class="row">
                    <div class="column">URL</div>
                    <div class="column"><a href="{{ summary['primary-resource'] }}" alt="">{{ summary['tld'] }}</a></div>
                </div>
            </div>
            -->
        {% endif %}

      {% for resource in summary['multiple-resolution'] %}
      {% if resource['url'] != None %}
          <div class="resource-line">
            {% if summary['type'] != 'GRANT' %}
                <img class="resource-logo" src="{{ resource['clearbit-logo']}}"/>
                <a href="{{ resource['url'] }}" alt="">{{ resource['tld'] }}</a>
            {% else %}
                <div class="extra about-record">
                    <div class="row">
                        <div class="column">URL</div>
                        <div class="column"><a href="{{ resource['url'] }}" alt="">{{ resource['tld'] }}</a></div>
                    </div>
                </div>
            {% endif %}
          </div>
      {% endif %}
      {% endfor %}

      {% for resource in summary['coaccess'] %}
      {% if resource['url'] != None %}
          <div class="resource-line">
              {% if summary['type'] != 'GRANT' %}
                  <img class="resource-logo" src="{{ resource['clearbit-logo']}}"/>
                  <a href="{{ resource['url'] }}" alt="">{{ resource['tld'] }}</a>
              {% else %}
                  <div class="extra about-record">
                    <div class="row">
                        <div class="column">URL</div>
                        <div class="column"><a href="{{ resource['url'] }}" alt="">{{ resource['tld'] }}</a></div>
                    </div>
                </div>
              {% endif %}

          </div>
        </div>
    {% endif %}
    {% endfor %}


{% if summary['type'] != 'GRANT' %}
    <hr>
  {% endif %}

  </div>

  <br />

  <footer>
    <div class="tandc row">        
      <div class="column">
      </div>
      <div class="column"> 
        <a href="https://www.crossref.org/operations-and-sustainability/privacy/">Crossref privacy policy</a>
      </div>
    </div>
    <div class="provided-by row">
        <a href="https://crossref.org"><img src="https://assets.crossref.org/logo/crossref-logo-landscape-200.svg" width="200" height="68" alt="Crossref logo"></a>
    </div>
  </footer>

  <details class="debug">
    <summary>debug</summary>
    <code>
      {{ summary }}    
    </code>
    <hr>
    <a href="{{ summary['display_doi'] }}"> {{ summary['display_doi'] }}</a>
    <hr>
    <a href="https://api.crossref.org/works/{{ summary['doi'] }}">JSON</a>
    <hr>
    <a href="https://api.crossref.org/works/{{ summary['doi'] }}.xml">XML</a>
    <hr>
  </details>

</body>

</html>