

<div class="extra about-record">
    
    <!--<div class="row funder-ror-id">
        <div class="column">Funder ROR ID</div>
        <div class="column"><a href="https://ror.org/02twcfp32">https://ror.org/02twcfp32 [not sourced]</a></div>
    </div>-->
    
    <div class="row description">
        <div class="column">Description</div>
        <div class="column">
            {% if summary.project_description %}
                {{ summary.project_description }}
            {% else %}
                {{ none_value }}
            {% endif %}

        </div>
    </div>

    <div class="row funding-type">
        <div class="column">Funding type</div>
        <div class="column">
            {% if summary.grant_info_type %}
                {{ summary.grant_info_type|capitalize }}
            {% else %}
                {{ none_value }}
            {% endif %}
        </div>
    </div>

    <div class="row award-amount">
        <div class="column">Award amount</div>
        <div class="column">
        {% if summary.award_amount %}
            {{ summary.award_amount }}
        {% else %}
            {{ none_value }}
        {% endif %}
        </div>
    </div>

    <div class="row funding-scheme">
        <div class="column">Funding scheme</div>
        <div class="column">
            {% if summary.funding_scheme %}
                {{ summary.funding_scheme }}
            {% else %}
                {{ none_value }}
            {% endif %}
        </div>
    </div>

    <div class="row internal-award-number">
        <div class="column">Internal award number</div>
        <div class="column">
            {% if summary.internal_award_number %}
                {{ summary.internal_award_number }}
            {% else %}
                {{ none_value }}
            {% endif %}
        </div>
    </div>

    <div class="row award-start-date">
        <div class="column">Award start date</div>
        <div class="column">
            {% if summary.award_start %}
                {{ summary.award_start }}
            {% else %}
                {{ none_value }}
            {% endif %}
        </div>
    </div>

</div>

{% if summary['multiple_lead_investigators']|length > 0  or summary['multiple_investigators']|length > 0 or summary['multiple_co_lead_investigators']|length > 0 %}

    <hr>
    <h2>About the investigator(s)</h2>
    <div class="extra about-investigators">

        {% if summary['multiple_lead_investigators']|length > 0 %}
            {% for resource in summary['multiple_lead_investigators'] %}
            
                <hr class="secondary">
                <div class="row name">
                    <div class="column">Name</div>
                    <div class="column">
                        {% if resource['given'] %}
                            {{ resource['given'] }} {{ resource['family'] }}
                        {% else %}
                            {{ none_value }}
                        {% endif %}
                    </div>
                </div>
                
                <div class="row role">
                    <div class="column">Role</div>
                    <div class="column">Lead Investigator</div>
                </div>

                <div class="row role">
                    <div class="column">Contributor ID</div>
                    {% if resource['ORCID'] %}
                        <div class="column"><a href="{{ resource['ORCID'] }}">{{ resource['ORCID'] }}</a></div>                    
                    {% else %}
                        <div class="column">{{ none_value }}</div>
                    {% endif %}
                </div>

                {% if resource['affiliations']|length > 0 %}
                    {% for affiliation in resource['affiliations'] %}
                        {% if affiliation['name'] %}
                            <div class="row role">
                                <div class="column">Affiliation name</div>
                                <div class="column">
                                    {% if affiliation['name'] %}
                                        {{ affiliation['name'] }}
                                    {% else %}
                                        {{ none_value }}
                                    {% endif %}
                                    </div>
                            </div>
                        {% endif %}

                        <div class="row role">
                            <div class="column">Affiliation ID</div>
                            <div class="column">
                                {% if affiliation['rorid'] %}
                                    <a href="{{ affiliation['rorid'] }}">{{ affiliation['rorid'] }}</a>
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>


                        <div class="row role">
                            <div class="column">Country</div>
                            <div class="column">
                                {% if affiliation['country'] %}
                                    {{ affiliation['country'] }}
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if summary['multiple_co_lead_investigators']|length > 0 %}
            {% for resource in summary['multiple_co_lead_investigators'] %}
            
                <hr class="secondary">
                <div class="row name">
                    <div class="column">Name</div>
                    <div class="column">
                        {% if resource['given'] %}
                            {{ resource['given'] }} {{ resource['family'] }}
                        {% else %}
                            {{ none_value }}
                        {% endif %}
                    </div>
                </div>
                
                <div class="row role">
                    <div class="column">Role</div>
                    <div class="column">Co-Lead Investigator</div>
                </div>

                <div class="row role">
                    <div class="column">Contributor ID</div>
                    {% if resource['ORCID'] %}
                        <div class="column"><a href="{{ resource['ORCID'] }}">{{ resource['ORCID'] }}</a></div>                    
                    {% else %}
                        <div class="column">{{ none_value }}</div>
                    {% endif %}
                </div>

                {% if resource['affiliations']|length > 0 %}
                    {% for affiliation in resource['affiliations'] %}
                        <div class="row role">
                            <div class="column">Affiliation name</div>
                            <div class="column">
                                {% if affiliation['name'] %}
                                    {{ affiliation['name'] }}
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row role">
                            <div class="column">Affiliation ID</div>
                            <div class="column">
                                {% if affiliation['rorid'] %}
                                    <a href="{{ affiliation['rorid'] }}">{{ affiliation['rorid'] }}</a>
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row role">
                            <div class="column">Country</div>
                            <div class="column">
                                {% if affiliation['country'] %}
                                    {{ affiliation['country'] }}
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}


        
        {% if summary['multiple_investigators']|length > 0 %}
            {% for resource in summary['multiple_investigators'] %}
            
                <hr class="secondary">
                <div class="row name">
                    <div class="column">Name</div>
                    <div class="column">
                        {% if resource['given'] %}
                            {{ resource['given'] }} {{ resource['family'] }}
                        {% else %}
                            {{ none_value }}
                        {% endif %}
                    </div>
                </div>

                <div class="row role">
                    <div class="column">Role</div>
                    <div class="column">Investigator</div>
                </div>
                
                <div class="row role">
                    <div class="column">Contributor ID</div>
                    {% if resource['ORCID'] %}
                        <div class="column"><a href="{{ resource['ORCID'] }}">{{ resource['ORCID'] }}</a></div>                    
                    {% else %}
                        <div class="column">{{ none_value }}</div>
                    {% endif %}
                </div>
                
                {% if resource['affiliations']|length > 0 %}
                    {% for affiliation in resource['affiliations'] %}

                        <div class="row role">
                            <div class="column">Affiliation name</div>
                            <div class="column">
                                {% if affiliation['name'] %}
                                    {{ affiliation['name'] }}
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row role">
                            <div class="column">Affiliation ID</div>
                            <div class="column">
                                {% if affiliation['rorid'] %}
                                    <a href="{{ affiliation['rorid'] }}">{{ affiliation['rorid'] }}</a>
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row role">
                            <div class="column">Country</div>
                            <div class="column">
                                {% if affiliation['country'] %}
                                    {{ affiliation['country'] }}
                                {% else %}
                                    {{ none_value }}
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if summary['finances']|length > 0 %}
            <hr>
            <h2>This grant supported the following outputs</h2>
            <div class="extra finances">
                <ul>
                {% for finance in summary['finances'] %}
                    <li><a href="{{ finance }}">{{ finance}}</a></li>
                {% endfor %}   
                </ul>
            </div> 
        {% endif %}
        
    </div>
{% endif %}