<div class="extra" style="margin-top: .5em;">

    {% if summary.publication %}
    <div class="row">
        <div class="column">Publication</div>
        <div class="column">{{ summary.publication }}</div>
    </div>
    {% endif %}

    {% if summary.type %}
    <div class="row">
        <div class="column">Record type</div>
        <div class="column">
            {{ summary.type|capitalize }}
        </div>
    </div>
    {% endif %}

    {% if summary['type'] != 'GRANT' %}
        <div class="row">
            <div class="column">Published</div>
            <div class="column">{{ summary.published_date }}</div>
        </div>
    {% endif %}

    {% if summary.authors %}
    <div class="row">
        <div class="column">Authors</div>
        <div class="column">{{ summary.authors }}</div>
    </div>
    {% endif %}
    
    {% if summary.volume %}
    <div class="row">
        <div class="column">Volume</div>
        <div class="column">{{ summary.volume }}</div>
    </div>
    {% endif %}

    {% if summary.issue %}
    <div class="row">
        <div class="column">Issue</div>
        <div class="column">{{ summary.issue }}</div>
    </div>
    {% endif %}
    
    {% if summary.first_page and summary.last_page %}
    <div class="row">
        <div class="column">on pages</div>
        <div class="column">{{ summary.first_page }}</div>
    </div>
    <div class="row">
        <div class="column">to</div>
        <div class="column">{{ summary.last_page }}</div>
    </div>        
    {% elif summary.first_page %}
    <div class="row">
        <div class="column">on page</div>
        <div class="column">{{ summary.first_page }}</div>
    </div>
    {% endif %}
        
    <div class="row">
        {% if summary['type'] != 'GRANT' %}
            <div class="column">DOI</div>
        {% else %}
            <div class="column">Grant ID</div>
        {% endif %}
        <div class="column"><a href="{{ summary['display_doi'] }}">{{ summary['display_doi'] }}</a></div>
    </div>
    

    {% if summary.grant_info %}
    <div class="row">
        <div class="column">Funder</div>
        <div class="column">{{ summary.grant_info }}</div>
    </div>
    {% endif %}

    {% if summary.grant_info_funder_ids %}
    <div class="row">
        <div class="column">Funder ID(s)</div>
        <div class="column"><a href="{{ summary.grant_info_funder_ids }}">{{ summary.grant_info_funder_ids }}</a></div>
    </div>
    {% endif %}

    {% if summary.editors %}
    <div class="row">
        <div class="column">Editors</div>
        <div class="column">{{ summary.editors }}</div>
    </div>
    {% endif %}

    {% if summary.chairs %}
    <div class="row">
        <div class="column">Chairs</div>
        <div class="column">{{ summary.chairs }}</div>
    </div>
    {% endif %}

    {% if summary.translators %}
    <div class="row">
        <div class="column">Translated</div>
        <div class="column">{{ summary.translators }}</div>
    </div>
    {% endif %}

    {% if summary.contributors %}
    <div class="row">
        <div class="column">Contributors</div>
        <div class="column">{{ summary.contributors }}</div>
    </div>
    {% endif %}
 
</div>

{% include 'item_links.html' %}